* {
    margin: 0px;
    padding:0px;
    font-family: 'Shadows Into Light', cursive;
}
body {
    padding-top: 5rem;
    background: url(Images/tropics_bg.webp);
    background-size:cover;
}
.menu-bar {
    background-image: linear-gradient(-90deg, #8cd14f, #ccb280);
}
.nav-links {
    font-size: 16px;
    margin: 3px;
    color: #fff!important;
    font-weight: 500;
}
.navbar-nav {
    text-align: left;
}
.menu-bar .navbar-toggler {
    outline: none!important;
    border: none!important;
}
.navbar .fa {
    color: #fff!important;
    font-size: 26px;
}
.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid #fff;
}
.navbar-brand img {
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;
    height: 100px;
}
@media only screen and (max-width: 1000px) {
    .nav-link:hover {
        border-bottom: none!important;
    }
}