* {
    margin: 0px;
    padding:0px;
    font-family: 'Shadows Into Light', cursive;
}
body {
    padding-top: 5rem;
    background: url(Images/tropics_bg.webp);
    background-size:cover;
}
.menu-bar {
    background-image: linear-gradient(-90deg, #8cd14f, #ccb280);
    border-radius: 5px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index:10;
}
.nav-links {
    font-size: 20px; 
    margin: 3px;
    color: #fff!important;
    font-weight: 500;
}
.menu-bar .navbar-toggler {
    outline: none!important;
    border: none!important;
}
.navbar .fa {
    color: #fff!important;
    font-size: 26px;
}
.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid #fff;
}
.navbar-brand img {
    width: 150px;
    margin-top: 5px;
    margin-left: 5px;
    height: 90px;
    border: 2px solid black;
}
@media only screen and (max-width: 1000px) {
    .nav-link:hover {
        border-bottom: none!important;
    }
}
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-top: 100px;
  }
.carousel-caption {
    background-color: rgba(231, 232, 176, 0.656);
}
.carousel-caption h3 {
  font-size: 30px;
}
.carousel-caption p {
  font-size: 20px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .full {
    width: 100%;    
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.row {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container-b {
  background-color: #8cd14f
}
.subheading-a {
  font-size: 100px;
  color: black;
}
.paragraph {
  font-size: 35px;
  color: black;
  padding-bottom: 50px;
}
.products-heading {
  background-color: #8cd14f;
  text-align: center;
}
.panel {
  background-color: #965a3e;
  border-radius: 10px;
}
.panel-heading {
  font-size: 25px;
  color: #fff
}
.panel-footer {
  font-size: 25px;
  background-color: #8cd14f;
  border-radius: 10px;

}
.footer {
  background-color: rgba(61, 34, 3, 0.2);
  border-radius: 4px;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}

.footer h3 {
	color: white;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 0px;
	text-transform: uppercase;
  margin-bottom: 15px;
}

.footer h4 {
	color: white;
	font-size: 2em;
	font-weight: 600;
	line-height: 38px;
	padding: 40px 0 10px;
	font-family: 'Shadows Into Light', cursive;
  font-weight: lighter
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 0px;
	color: black;
  padding: 0 0 8px 0;
}

.email{
  border-bottom: 3px solid #fff;
}
.footer ul li a {
	padding: 0 0 12px 0;
	display: block;
}
.footer a {
	color: white;
  font-weight: lighter;
}

.footer p {
	color: white;
  font-weight: lighter;
}

.footer a:hover {
	text-decoration:none;
  font-weight: bold;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}

.footer-bottom {
  margin-top: 1em;
	border-top: 1px solid #DDDDDD;
	padding-top: 20px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
  font-size: 0.75em
}
